/* Banner Section
 ========================================================================== */
.bannerSection {
  background-color: #fef7e6;

  img {
    max-height: 25rem;
    @media screen and (max-width: 767px) {
      max-height: 20rem;
    }
  }
}

/* Search
 ========================================================================== */
.search {
  h1 {
    font-size: 2.2rem;
    max-width: 35rem;
    margin: auto;
    @media screen and (max-width: 991px) {
      font-size: 1.8rem;
    }
  }

  form {
    @include flex(center, nowrap, normal, 0);
    max-width: 35rem;
    margin: 3rem auto;
    padding: 0 0.8rem;
    border-radius: 1.25rem;
    background-color: #fff;
    box-shadow: 5px 5px 15px 5px #00000014;
    @media screen and (max-width: 767px) {
      margin: 2rem auto;
    }

    input {
      width: 100%;
      padding: 0.6rem 0.8rem;
      border: none;
      outline: none;
    }

    button {
      cursor: pointer;
      border: none;
      background-color: transparent;
    }
  }

  &__quickSearch {
    @include flex(center, wrap, center, 1rem);

    p {
      margin-bottom: 0;
    }

    ul {
      @include reset;
      @include flex(center, wrap, center, 0.5rem);
      list-style: none;

      li {
        @include color-button(#fff, #e7b0af);
        padding: 0.3rem 0.6rem;
        border-radius: 1.25rem;

        &:hover {
          -webkit-animation: shadow-drop-br 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: shadow-drop-br 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
      }
    }
  }
}