/* Banner Section
 ========================================================================== */
.bannerSection {
  text-align: center;
  background-color: $banner-bg;

  p {
    margin-bottom: 0;
    text-align: justify;
  }

  img {
    max-height: 25rem;
    @media screen and (max-width: 767px) {
      max-height: 20rem;
    }
  }
}

/* Search
 ========================================================================== */
.search {
  h1 {
    font-size: 2.2rem;
    max-width: 35rem;
    margin: auto;
    @media screen and (max-width: 991px) {
      font-size: 1.8rem;
    }
  }

  form {
    @include flex(0);
    max-width: 35rem;
    margin: 3rem auto;
    padding: 0 0.8rem;
    border-radius: $border-radius;
    background-color: $secondary-color;
    box-shadow: $primary-shadow;
    @media screen and (max-width: 767px) {
      margin: 2rem auto;
    }

    input {
      width: 100%;
      padding: 0.6rem 0.8rem;
    }

    button {
      background-color: transparent;
    }
  }

  &__quickSearch {
    @include flex(1rem, null, wrap, center);

    p {
      margin-bottom: 0;
    }

    ul {
      @include flex(0.5rem, null, wrap, center);

      li {
        @include color-button(#fff, #e7b0af, 0.3rem 0.6rem);

        &:hover {
          @include button-animation;
        }
      }
    }
  }
}