/* Card Section
 ========================================================================== */
.cardSection {
  max-width: 38rem;
  margin: 2rem auto;
  padding: 3rem;
  text-align: center;
  border-radius: 1.25rem;
  @media screen and (max-width: 991px) {
    max-width: 36rem;
  }
  @media screen and (max-width: 767px) {
    max-width: unset;
    margin: 1.5rem;
  }
}