/* Horizontal Card
 ========================================================================== */
.horizontalCard {
  &__image {
    flex: 1 1 40%;

    img {
      max-height: 14rem;
      @media screen and (max-width: 767px) {
        max-height: 10rem;
      }
    }
  }

  &__content {
    flex: 1 1 60%;

    p {
      text-align: justify;
    }
  }
}