@import "variables";
@import "animations";
@import "helpers";
@import "reset";
@import "header";
@import "bannerSection";
@import "horizontalCard";
@import "footer";

body {
  font-family: $primary-font;
  font-size: 1rem;
  line-height: normal;
  color: $primary-color;
}

.input {
  padding: $primary-padding;
  border-radius: $border-radius;
  background-color: $secondary-color;
}

.button {
  &:hover {
    @include button-animation;
  }

  i {
    margin-right: 0.3rem;
  }
}

/* Help
 ========================================================================== */
.help {
  @extend %cardSection;
  @include button-card($help-bg, 3rem);

  .button {
    @include color-button($primary-color, $secondary-color);
  }
}

/* Articles
 ========================================================================== */
.articles {
  .horizontalCard {
    @include flex-card($articles-bg, row);

    .button {
      @include color-button($primary-color, $secondary-color);
    }
  }
}

/* Newsletter
 ========================================================================== */
.newsletter {
  @extend %cardSection;
  @include button-card($newsletter-bg, 3rem);

  label {
    @media screen and (max-width: 767px) {
      display: unset;
    }
  }

  input {
    width: 80%;
    margin-bottom: 1rem;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  .button {
    @include color-button($primary-color, $secondary-color);
  }
}

/* Healthy Life
========================================================================== */
.advices {
  &__advice {
    @include flex-card($advices-bg, column);

    img {
      max-height: 14rem;
      @media screen and (max-width: 767px) {
        max-height: 10rem;
      }
    }

    p {
      text-align: justify;
    }
  }
}

/* Mental Health
========================================================================== */
.mentalDisorders {
  .horizontalCard {
    @include flex-card($mentalDisorder-bg, row);
  }

  .col:nth-of-type(2n) .horizontalCard__image {
    order: 1;
    @media screen and (max-width: 767px) {
      order: unset;
    }
  }
}

/* Helpful Contacts
========================================================================== */
.getHelp {
  @extend %cardSection;
  @include button-card($getHelp-bg, 3rem);

  h1 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  p, .button {
    font-size: 1.18rem;
  }

  .button {
    @include color-button($secondary-color, $getHelp-btn);
  }
}

.contacts {
  &__contact {
    @include button-card($contacts-bg, 2rem, 100%);

    .button {
      @include color-button($secondary-color, $contacts-btn);
      min-width: 6rem;
    }
  }
}