.get-help {
  @include card($get-help-bg);

  h1 {
    font-size: 1.8rem;
    font-weight: 600;
  }

  p, .button {
    font-size: 1.18rem;
  }

  .button {
    @include color-button($secondary-color, $get-help-btn);
  }
}

.contacts {
  &__contact {
    @include flex(0, column, null, center);
    @include card($contacts-bg, 2rem, "full");

    .button {
      @include color-button($secondary-color, $contacts-btn);
      min-width: 6rem;
    }
  }
}