.getHelp {
  @extend %cardSection;
  @include card($getHelp-bg, 3rem);

  h1 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  p, .button {
    font-size: 1.18rem;
  }

  .button {
    @include color-button($secondary-color, $getHelp-btn);
  }
}

.contacts {
  &__contact {
    @include flex(0, column, null, center);
    @include card($contacts-bg, 2rem, "full");

    .button {
      @include color-button($secondary-color, $contacts-btn);
      min-width: 6rem;
    }
  }
}