.search {
  h1 {
    font-size: 2.2rem;
    max-width: 35rem;
    margin: auto;
    @media screen and (max-width: $md-max-width) {
      font-size: 1.8rem;
    }
  }

  &__main-search {
    form {
      @include flex(0);
      max-width: 35rem;
      margin: 3rem auto;
      padding: 0 0.8rem;
      border-radius: $border-radius;
      background-color: $secondary-color;
      box-shadow: $primary-shadow;
      @media screen and (max-width: $sm-max-width) {
        margin: 2rem auto;
      }

      input {
        width: 100%;
        padding: 0.6rem 0.8rem;
      }

      button {
        background-color: transparent;
      }
    }
  }

  &__quick-search {
    @include flex(1rem, null, wrap, center);

    p {
      margin-bottom: 0;
    }

    form {
      @include flex(0.5rem, null, wrap, center);

      .button {
        @include color-button($secondary-color, $quick-search-btn, $secondary-padding);

        &:hover {
          @include button-animation;
        }
      }
    }
  }
}

.help {
  @include card($help-bg);

  .button {
    @include color-button($primary-color, $secondary-color);
  }
}

.newsletter {
  @include card($newsletter-bg);

  .label {
    width: 80%;
    text-align: left;
    @media screen and (max-width: $sm-max-width) {
      width: 100%;
    }
  }

  .input {
    width: 80%;
    @media screen and (max-width: $sm-max-width) {
      width: 100%;
    }
  }

  .button {
    @include color-button($primary-color, $secondary-color);
  }
}