body {
  font-family: $primary-font;
  font-size: 1rem;
  line-height: 1.4;
  color: $primary-color;
}

img {
  max-width: 100%;
}

a {
  display: inline-block;
}

h1 {
  @media screen and (max-width: $sm-max-width) {
    font-size: 1.8rem;
  }
}