.banner {
  text-align: center;
  background-color: $banner-bg;

  .row {
    align-items: center;
  }

  p {
    margin-bottom: 0;
    text-align: justify;
  }

  img {
    max-height: 25rem;
    @media screen and (max-width: $md-max-width) {
      max-height: 20rem;
    }
    @media screen and (max-width: $sm-max-width) {
      max-height: 16rem;
    }
  }
}