/* Map text tags
 ========================================================================== */
$sizes: (h1 2.5rem 500, h2 1.5rem 600, h3 1.2rem 600, p 1rem 400);
@each $key, $size, $weight in $sizes {
  #{$key} {
    font-size: $size;
    font-weight: $weight;
    margin-bottom: 1rem;
  }
}

/* Mixin Flex
 ========================================================================== */
@mixin flex($gap, $flex-direction:null, $flex-wrap:null, $justify-content:null) {
  display: flex;
  align-items: center;
  @if ($flex-direction) {
    flex-direction: $flex-direction;
  }
  @if ($flex-wrap) {
    flex-wrap: $flex-wrap;
  }
  @if ($justify-content) {
    justify-content: $justify-content;
  }
  gap: $gap;
}

/* Mixin Flex Card
 ========================================================================== */
@mixin flex-card($background-color, $flex-direction) {
  @include flex(2rem, $flex-direction);
  height: 100%;
  padding: 2rem;
  text-align: center;
  border-radius: $border-radius;
  background-color: $background-color;
  @if ($flex-direction == row) {
    @media screen and (max-width: $sm-max-width) {
      flex-direction: column;
      align-items: stretch;
    }
  }
  img {
    max-height: 14rem;
    @media screen and (max-width: $sm-max-width) {
      max-height: 10rem;
    }
  }
  p {
    text-align: justify;
  }
}

/* Mixin Card with button
 ========================================================================== */
@mixin button-card($background-color, $padding, $height:null) {
  text-align: center;
  padding: $padding;
  border-radius: $border-radius;
  background-color: $background-color;
  @if ($height) {
    height: $height;
  }
}

/* Mixin Buttons
 ========================================================================== */
@mixin color-button($color, $background-color, $padding:null) {
  color: $color;
  background-color: $background-color;
  border-radius: $border-radius;
  @if ($padding) {
    padding: $padding;
  } @else {
    padding: $primary-padding;
  }
}

/* Mixin Button Animation
 ========================================================================== */
@mixin button-animation {
  -webkit-animation: shadow-drop-br 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: shadow-drop-br 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* Card Section
 ========================================================================== */
%cardSection {
  max-width: 38rem;
  margin: 2rem auto;
  @media screen and (max-width: $md-max-width) {
    max-width: 36rem;
  }
  @media screen and (max-width: $sm-max-width) {
    max-width: unset;
    margin: 1.5rem;
  }
}