/* Map text tags
 ========================================================================== */
$sizes: (h1 2.5rem 500, h2 1.5rem 600, h3 1.2rem 600, p 1rem 400);
@each $key, $size, $weight in $sizes {
  #{$key} {
    font-size: $size;
    font-weight: $weight;
    margin-bottom: 1rem;
  }
}

/* Mixin Flex
 ========================================================================== */
@mixin flex($gap, $flex-direction:null, $flex-wrap:null, $justify-content:null) {
  display: flex;
  align-items: center;
  @if ($flex-direction) {
    flex-direction: $flex-direction;
  }
  @if ($flex-wrap) {
    flex-wrap: $flex-wrap;
  }
  @if ($justify-content) {
    justify-content: $justify-content;
  }
  gap: $gap;
}

/* Mixin Basic Card
 ========================================================================== */
@mixin card($background-color, $padding, $height:null) {
  text-align: center;
  padding: $padding;
  border-radius: $border-radius;
  background-color: $background-color;
  @if ($height == "full") {
    height: 100%;
  }
}

/* Mixin Card width image
 ========================================================================== */
@mixin image-card($background-color, $type:null) {
  @include card($background-color, 2rem, "full");
  .row {
    align-items: center;
  }
  img {
    max-height: 14rem;
    @if ($type == "vertical") {
      margin-bottom: 2rem;
    }
    @media screen and (max-width: $sm-max-width) {
      max-height: 10rem;
      @if ($type == "horizontal") {
        margin-bottom: 2rem;
      }
    }
  }
  p {
    text-align: justify;
  }
}

/* Mixin Buttons
 ========================================================================== */
@mixin color-button($color, $background-color, $padding:null) {
  color: $color;
  background-color: $background-color;
  border-radius: $border-radius;
  @if ($padding) {
    padding: $padding;
  } @else {
    padding: $primary-padding;
  }
}

/* Mixin Button Animation
 ========================================================================== */
@mixin button-animation {
  -webkit-animation: shadow-drop-br 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: shadow-drop-br 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* Card Section
 ========================================================================== */
%cardSection {
  max-width: 38rem;
  margin: 2rem auto;
  @media screen and (max-width: $md-max-width) {
    max-width: 36rem;
  }
  @media screen and (max-width: $sm-max-width) {
    max-width: unset;
    margin: 1.5rem;
  }
}