$primary-font: 'Quicksand', sans-serif;

$border-radius: 1.25rem;

$primary-padding: 0.4rem 0.8rem;
$secondary-padding: 0.3rem 0.6rem;

$primary-color: #332c27;
$secondary-color: #fff;
$grey: #898989;
$banner-bg: #fef7e6;
$quick-search-btn: #e7b0af;
$help-bg: #eaf9fb;
$articles-bg: #fff6ee;
$newsletter-bg: #eafbf0;
$advices-bg: #f4fbf5;
$mental-disorder-bg: #eaf9fb;
$get-help-bg: #fbe9f3;
$get-help-btn: #a13b6d;
$contacts-bg: #e5e6f5;
$contacts-btn: #8083ac;
$footer-bg: #efe6f5;

$primary-shadow: 5px 5px 15px 5px #00000014;

$xxs-max-width: 331px;
$xs-max-width: 575px;
$sm-max-width: 767px;
$md-max-width: 991px;